* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: solid grey 1px;
}

.header-right > a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: rgb(61, 56, 56);
}

.header-right {
  display: flex;
  gap: 50px;
  margin-right: 10em;
  font-size: 24px;
  font: black;
}

img {
  margin-left: 100px;
}

.fixer-button {
  border: solid 1px forestgreen;
  color: rgb(50, 104, 86);
  padding: 10px 20px;
  border-radius: 15px;
}

.fixer-button:hover {
  color: rgb(44, 92, 76);
  border-color: aqua;
  transition-delay: 32ms;
}
